.bg {
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  background: #b0d2ee;
}

.row {
  margin: 0;
}

.logo {
  width: 30vw;
  display: inline-block;  
}

.login-div {
  margin-right: 5%;
  padding: 2vh 1vw;
}

.login-div .login-btn {
  margin-bottom:3px;
  margin-right:5px;
}

.login-div a {
  font-size: 95%;
  color: #6c757d;
}

.login-div a:focus, .login-div a:hover {
  color: #565e64;
}