<div class="container bg">
  <div class="row h-100">
    <div class="col-sm my-auto text-center">
      <img class="logo" src="../assets/images/accolitelogo.png" >
    </div>
    <div class="col-sm my-auto text-center login-div ">
      <h3>Welcome to Morgan Stanley AU</h3>
      <br>
      <br>
      <button class="btn btn-outline-dark" (click)="signInWithGoogle()">
        <img width="20px" class="login-btn" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </button>      
      <br><br><br>
      <a href="mailto:Gaurav.Bhagwanani@accolitedigital.com" class="mail-link">Facing Issues?</a>
    </div>
  </div>
</div>

<!-- <button (click)="signInWithGoogle()">LOGIN</button>

<h3>Current User:</h3>
<img src="{{ user?.photoUrl }}">
<div>
  <h4>{{ user?.name }}</h4>
  <p>{{ user?.email }}</p>
</div> -->