<app-navbar></app-navbar>

<br>

<div class="p-2">
  <p class="display-4">Morgan Stanley Onboardees</p>

  <div class="alert alert-success alert-dismissible" *ngIf="success" role="alert">
    {{success}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="alert alert-danger alert-dismissible" *ngIf="error" role="alert">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <button type="button" class="btn btn-primary" routerLink="new">Add new onboardee</button>
  <br><br>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Demand ID</th>
        <th scope="col">Location</th>
        <th scope="col">Onboarding Start</th>
        <th scope="col">Onboarding End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let onboardee of onboardees" routerLink={{onboardee.email}}>
        <td>{{onboardee.email}}</td>
        <td>{{onboardee.name}}</td>
        <td>{{onboardee.demandId}}</td>
        <td>{{extractLocation(onboardee.demandId)}}</td>
        <td>{{onboardee.onboardingStart | date:'mediumDate'}}</td>
        <td>{{onboardee.onboardingEnd | date:'mediumDate'}}</td>
      </tr>
    </tbody>
  </table>
</div>