<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Morgan Stanley AU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto" routerLinkActive="active">
      <li [class.active]="router.url==='/core/opportunity'" class="nav-item">
        <a class="nav-link" routerLink="/core/opportunity">Opportunity Management</a>
      </li>

      <li [class.active]="router.url==='/core/candidate'" class="nav-item">
        <a class="nav-link" routerLink="/core/candidate">Candidate Management</a>
      </li>

      <li [class.active]="router.url==='/core/course'" class="nav-item">
        <a class="nav-link" routerLink="/core/course">Course Management</a>
      </li>

      <li [class.active]="router.url==='/core/assessments'" class="nav-item">
        <a class="nav-link" routerLink="/core/assessments">Assessments</a>
      </li>

      <li [class.active]="router.url==='/core/onboarding'" class="nav-item">
        <a class="nav-link" routerLink="/core/onboarding">Onboarding Portal</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>

</nav>